spring:
  datasource:
    url: jdbc:h2:file:./.dev-db/filemanagement;Mode=PostgreSQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH
    username: ken
    password: dev_password
    driver-class-name: org.h2.Driver

  jpa:
    show-sql: true

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE

file:
  storage:
    base-path: ./dev-storage