spring:
  application:
    name: filemanagement
  profiles:
    active: dev

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
      file-size-threshold: 2MB

  jackson:
    write-dates-as-timestamps: false
    time-zone: UTC
    serialization:
      INDENT_OUTPUT: true

  jpa:
    open-in-view: false
    properties:
      hibernate.jdbc.time_zone: UTC
    hibernate:
      ddl-auto: none

management:
  endpoints:
     web:
       exposure:
         include: health,info,metrics
  endpoint:
     health:
       show-details: when_authorized

file:
  storage:
    base-path: ./storage
    retention-days: 30
    allowed-content-types:
      - application/pdf
      - image/png
      - image/jpeg
      - text/plain